/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
  }
  
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  input, button, textarea, select {
    font: inherit;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  #root, #__next {
    isolation: isolate;
  }

/* ---------------------------------- */
body{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: calc(100vh - 20px);
}
dialog{
  transform: translateX(-50%);
  left: 50%;
  top: 25%;
}
.inputContainer{
  display: flex;
  flex-direction: column  ;
}
.inputButtons{
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-top: 5px;
}
.book > .rmvBtn{
  position: absolute;
  top: 0;
  right: 0;
  color: red;
  background-color: transparent;
  border: none;
}

.book > .statsBtn{
  position: absolute;
  top: 0;
  right: 10%;
  background-color: transparent;
  border: none;
}

.book >button:hover{
  font-weight: bold;
  font-size: 1.1em;
}
.book >button:active{
  color: black;
}
.container{
    /* border: 1px solid red; */
    width: 50%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows:1fr;
    gap: 0.5em;
    padding: 0.5em;
    background-color: #d1b58a;
    margin: 1em;
}
.book{
    /* border: 1px solid purple; */
    display: flex;
    flex-direction: column;
    background-color: #eedecd;
    position: relative;
}

.book >p {
    /* border: 1px solid red; */  
    margin: 0.1em 0.5em;
}